# APP
APP_NAME=NestJS Boilerplate
NODE_ENV=development
PORT=3000

# API
API_PREFIX=api
API_VERSION=v1
API_KEY=REPLACE_WITH_A_API_KEY

# JWT
JWT_SECRET=REPLACE_WITH_A_SECURE_SECRET
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# CSRF
CSRF_SECRET=REPLACE_WITH_A_CSRF_SECRET

# CORS
CORS_ORIGINS=https://example.com,https://admin.example.com

# THROTTLE
THROTTLE_TTL=60000
THROTTLE_LIMIT=60

# DATABASE
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_name
DB_USERNAME=db_usr
DB_PASSWORD=db_pwd

# STORAGE
STORAGE_ENDPOINT=http://127.0.0.1:9000
STORAGE_ACCESS_KEY=bucket_usr
STORAGE_SECRET_KEY=bucket_pwd
STORAGE_FILE_BUCKET=file-bucket
STORAGE_IMAGE_BUCKET=image-bucket
STORAGE_VIDEO_BUCKET=video-bucket
